

body{
  color: rgba(255, 255, 255, 0.643);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid black;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
.singin_page {
  height: 100vh;
  width: 100%;
  background-color: rgb(110, 200, 203);
  margin: auto;  
  overflow: hidden;
  background-image:linear-gradient(rgba(0, 0, 0, 0.618),rgba(0, 0, 0, 0.618)), url(thought-catalog-505eectW54k-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.singin_box_logo{
  padding: 16px;
  font-size: xx-large;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.643);
}
.singin_box_form {
  height: 300px;
  
  margin: 20vh auto ;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(20, 15, 15, 0.489);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px,rgba(0, 0, 0, 0.32) 0px 15px 12px;  
}
.singin_box_form a {
  margin: 5px 0  0 0 0;
  color: rgba(255, 255, 255, 0.385);
}
.singin_box_form a:hover,  a:focus{
  margin: 5px 0  0 0 0;
  color: rgba(255, 255, 255, 0.643);
}
.singin_box_form form {
  margin: 20px 20px;
  justify-content: center;
}
.singin_box_form input label {
  width: 100%;
  margin: 5px 10px;
}
.singin_box_form input[type="email"],
input[type="password"] {
  font: caption;  
  margin: 10px 0px 10px 0px;
  outline: none;
  background-color: transparent;
  border: 0px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.275);
  width: 100%;
  
}
.singin_box_form input[type="submit"] {
  margin: 20px 0px 0px 0px;
  background-color: transparent; 
  padding: 8px 7px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  color: rgba(255, 255, 255, 0.643);
}
.singin_box_form input[type="submit"]:hover {
  letter-spacing: 0.5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color:rgba(255, 255, 255, 0.643);
  background-color: rgba(109, 109, 109, 0.553); 
  
}
.singin_box_form input[type="email"]:hover,
input[type="email"]:focus,
input[type="password"]:hover,
input[type="password"]:focus {
  border-bottom: 3px solid rgba(255, 255, 255, 0.643);
}
.singin_box_form input[type="email"]::placeholder
, input[type="password"]::placeholder
{
  margin: 12px 0 ;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  font-size: large;
  color:rgba(255, 255, 255, 0.643);
}